/* custom dots */
.custom-dots {
  display: flex !important;
  justify-content: space-between;
  bottom: -20px;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.custom-dots li {
  width: 23%;
  padding: 10px;
  cursor: pointer;
}

.custom-dots li.slick-active .container {
  opacity: 1;
}
