@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .card-static-size {
    @apply h-[348px] w-[282px];
  }

  .card-dynamic-size {
    @apply absolute left-0 top-0 h-full w-full;
  }

  .card-front-back {
    @apply z-10 flex flex-col rounded-[20px] px-6 py-7 shadow-md;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}

@layer utilities {
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
